body{
    font-family: 'Indie Flower', cursive;
    background-color: black;
}
.topcontainer{
    position: relative;
    display:flex;
    justify-content: center;
}

.bottomcontainer{
    z-index:1;
    border:black 1px;
    margin: 15px 100px 15px 100px;
    align-self: stretch;
    height:100%;
}
.image{
    margin-top: 100px;
    width:100%;
    height:400px;
    background-color: black;
    z-index: -1;
    border-radius: 10px;
}
.toparea{
    background-image: url("img/GooglePhoto.jpg");
    width:1000px;
    height:400px;
    display:flex;
    justify-content: space-between;
    border-radius: 10px;
    background-repeat: no-repeat;
}
.addplayer{
    background-color: white;
    height:150px;
    margin:15px 15px 15px 15px;
    border-radius: 10px;
}
.add{
    background-color: dodgerblue;
    height:50px;
    width:150px;
    color:white;
    font-size: 16px;
    margin:10px 0 0 10px;
    border-radius: 10px;
}
.leftside{
    z-index: 1;
    color:white;
    width:50%;

    font-size: 50px;
    margin:300px 40px 0 10px;
}
.rightside{
    z-index: 1;
    width:30%;
    height:60%;
    background-image: url("img/whiteimage.png");
    border-radius: 10px;
    margin: 120px 20px 0 0;
    opacity: 0.8;
}
#openweathermap-widget-15{
    font-size: 28px;
    margin: 20px 15% 0 15%;
    text-align: center;
}
#inputval{
    width:25px;
}
#player{
    width:40px;
}
.column{
    border: 1px solid;
    align-self: stretch;
    margin-top:15px;
}
.scorecolumn{
    display:flex;
}
.holeinput{
    width:100%;
}